{% extends 'user/base.html' %}
{% block content %}

<section id="contact" class="wow fadeInUp">
      <div class="container">
        <div class="form">
          <div id="errormessage"></div>
          {% if messages %}
          {% for message in messages %}
          <div class="alert alert-{{ message.tags }}">
            {{ message }}
          </div>
          {% endfor %}
          {% endif %}          

          <form action="" method="post" role="form" enctype="multipart/form-data" >
            {% csrf_token %}
            <div class="text-center">
            <input type="file" name="img" >
            <input type="text" name="txt">
          </div>
            <div class="mt-2 text-center"><button type="submit">submit</button></div>
          </form>
        </div>

{% endblock %}